.body_background 
{
    background-position: center;
	background:url(Grass.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
#myCanvas
{
    border-width:10px;
    border-style:ridge;
	background-color:forestgreen;
}


#hd3{
	color: red;
	background-color: aliceblue;
	font-family: fantasy;
	width: 150px;
}

#over{
	display: none;
}
